<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.lawfirm.persistence.CourtRepository">

    <sql id="courtColumns">
        court.id as court_id,
        court.name as court_name,
        court.court_type_id as court_type_id,
        court.address as court_address
    </sql>

    <insert id="create"
            keyColumn="id"
            keyProperty="id"
            useGeneratedKeys="true">
        insert into Courts
        (court_type_id, name, address)
        values (#{type.id}, #{name}, #{address});
    </insert>

    <select id="findAll" resultMap="CourtMap">
        select
        <include refid="courtColumns"/>,
        <include refid="com.solvd.lawfirm.persistence.CourtTypeRepository.courtTypeColumns"/>
        from Courts court
        left join
        Court_types court_type
        on
        court.court_type_id = court_type.id;
    </select>


    <select id="findById" parameterType="java.lang.Long" resultMap="CourtMap">
        select
        <include refid="courtColumns"/>
        from Courts court
        where court.id = #{id};
    </select>

    <update id="update" parameterType="Court">
        update Courts set
        court_type_id = #{type.id},
        name = #{name},
        address = #{address}
        where id = #{id};
    </update>

    <delete id="delete">
        delete from Courts where id = #{id};
    </delete>

    <resultMap id="CourtMap" type="Court" autoMapping="false">
        <id property="id" column="court_id"/>
        <result property="name" column="court_name"/>
        <result property="address" column="court_address"/>
        <association property="type" column="court_type_id"
                     resultMap="com.solvd.lawfirm.persistence.CourtTypeRepository.CourtTypeMap"/>
    </resultMap>
</mapper>
